body {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    border-radius:10em 25em;
    background-color: #800080a4;
    
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  

}
input {
    margin-top: 1%;
    text-align: center;
    border: none; 
     
}



