body{
    background-image: url(imagens/bg.jpg); 
    background-size: cover;
    

}

.mosquito1{
    width: 5em;
    height: 5em;
}

.mosquito2{
    width: 6em;
    height: 6em;
}

.mosquito3{
    width: 9em;
    height: 9em;
}

/* Keep the image on it's original side */
/* .sidaA{
    transform: scaleX(1);
} */

.sideB {
    transform: scaleX(-1);
}

.panel {
    position: absolute;
    width: 12em;
    padding: .3em;
    left: 0em;
    bottom: 0em;
    border-top: solid 0.06em #fff;
    background-color: #fff;
    opacity: .7;    
}

.lives {
    float:left;
}

.cronometer {
    float: left;
    font-size: 1.25;
    font-weight: bold;
}