.tudo{
    background-image: linear-gradient(to left, lightblue, lightgreen);
    font-family: sans-serif;
    font-size: large;
    text-align:unset;
    fill-opacity: inherit;
    
}

.lasanha {
    
}